@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92.5%;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  color: rgb(69, 68, 68);
}

body {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
